0 6 * * * root cd /app && uv run python scripts/user_statistics.py >> /var/log/cron/user_statistics.log 2>&1
0 6 * * 1 root cd /app && uv run python scripts/set_credits.py >> /var/log/cron/set_credits.log 2>&1
0 * * * * root cd /app && uv run python scripts/set_cost_centers.py >> /var/log/cron/set_cost_centers.log 2>&1
